<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FAOSTAT</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

  <!-- The div that dropdown list-->
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>FAOSTAT Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h6><b>Countries</b></h6>
          <select id="selDataset1"></select>
          <h6><b>Not Countries</b></h6>
          <select id="selDataset2"></select>
          <!--onchange="optionChanged(this.value)"-->
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var countries = {{ dict_json|safe }};
    console.log(countries);
  </script>
  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <!-- D3 Tips JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <!-- Plot.ly.js Javascipt -->
  <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- API KEY -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'config.js') }}"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'app.js') }}"></script>
</body>
</html>